body{
    font-family: Arial, sans-serif;
    background:#071330;
    color:white;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.search{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    margin-bottom:20px;
    font-size:16px;
    box-sizing:border-box;
}

.card{
    background:#1e293b;
    padding:20px;
    margin-bottom:20px;
    border-radius:20px;
}

.card h2{
    margin-top:0;
}

.card:hover{
    transform:scale(1.02);
}

a{
    text-decoration:none;
    color:white;
}
